Your numbers are <%= number_one %> and <%= number_two %>, what would you like to do to them?

<form method = 'post' action = '/operator'>
  <input type="radio" name="total" value= "add" checked> Add<br>
  <input type = "radio" name = "total" value = "subtract"> Subtract<br>
  <input type = "radio" name = "total" value = "multiply"> Multiply<br>
  <input type = "radio" name = "total" value = "division"> Divide<br>
  <input type = "hidden" name = "number_two" value = "<%= number_two %>">
  <input type = "hidden" name = "number_one" value = "<%= number_one %>">
  <input type="submit" value="Submit">
</form>
